body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }

 header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 }
 


  .navbar-first {
    height: 342px;
  }
  
 .navbar-second {
  background-color:#9dbd0a;
 }

  nav .container-fluid {
    width: 80%;
    margin: 0 auto;
  }
  
  .navbar-brand {
    font-size: 24px;
  }
  
  .nav-item {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.6px;
    margin-left: 60px;
  }
  
  .dropdown-menu .nav-link {
    margin-left: 30px;
   
  }
  
  .main-container {
    display: flex;
    width: 100%;
  }
  .sidebar {
    width: 15%;
    padding: 1rem;
    background-color: #f8f9fa;
    min-height: 100vh;
  }
  .main-content {
    width: 85%;
  }
  
  .weather-widget {
    background-color: rgb(156, 189, 9);
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .weather-widget h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #333;
  }
  .weather-location {
    font-weight: bold;
    margin-bottom: 5px;
  }
  .weather-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .dropdown-item {
    background-color: red;
  }